/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    background-color: black;
    color: gray;
    height: 100%;
}

#main-wrap {
    width: 80%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

#nav-container,
#about-us,
h1,
h2,
h3,
button,
input,
a {
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 10px;
}

button,
input {
    font-size: 0.8rem;
    padding: 10px;
    background-color: #242424;
    box-shadow: -5px 1px 9px 0px #000000;
    -webkit-box-shadow: -5px 1px 9px 0px #000000;
    -moz-box-shadow: -5px 1px 9px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 2px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}


/* Nav Bar */

#nav-container {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(43, 41, 41);
    padding: 14px;
    width: 65%;
    margin: 0 auto;
    border-left: 5PX solid #e8505b;
    z-index: 2;
    justify-content: space-between;
}


/* Banner Section */

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 70vh;
    padding: 250px;
}

#banner h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* About Us Section */

.card {
    width: 50%;
    height: auto;
    padding: 20px;
    z-index: 1;
    position: relative;
    bottom: 100px;
    box-sizing: unset;
    margin: 0 20px;
}

.responsive {
    background-color: #ff5959;
}

.ease-of-use {
    background-color: #4f9da6;
}

.quick-support {
    background-color: #ffad5a;
}

.icon-border {
    border: 2px solid white;
    border-radius: 50%;
    padding: 25px;
}


/* Startup Section */

#startup {
    background-color: #242627;
    text-align: left;
    margin-bottom: 80px;
}

#startup img {
    width: 50%;
    height: auto;
    object-fit: fill;
}

.container-content {
    width: 100%;
    text-align: left;
    padding: 10px 20px 20px;
}


/* Portfolio Section */

#portfolio img {
    height: auto;
    width: 100%;
    overflow: hidden;
}


/*Contact Section */

#contact {
    background-color: #242424;
    padding: 100px;
    text-align: left;
}

#contact button {
    display: block;
}


/* Mobile */

@media all and (max-width: 960px) {
    .container-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* margin-top: 20px; */
    }
    .card {
        width: 100%;
        margin: unset;
        margin-bottom: 50px;
        box-sizing: border-box;
        position: unset;
    }
    #main-wrap {
        width: 100%;
        margin: 0;
    }
    #banner {
        height: 50vh;
        padding: unset;
        overflow: hidden;
        object-fit: contain;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/banner-small.jpg');
    }
    #nav-container {
        position: unset;
        z-index: 0;
        width: 100%;
        font-size: 0.8rem;
    }
    .nav-links {
        margin-top: 10px;
    }
    #startup {
        text-align: center;
    }
    #startup img {
        width: 100%;
    }
    #portfolio img {
        margin-bottom: 20px;
    }
    button {
        width: 50vw;
        height: 8vh;
        font-size: 1rem;
    }
    #banner h1 {
        font-size: 1.4rem;
        top: 30%
    }
}